.rest-ctr{
  .ctr,
  .rest{
    position: relative;
  }
  .ctr-label,
  .rest-label{
    // writing-mode: vertical-lr;
  }
  .ctr-label{
    background-color: #ff9800;
  }
  .rest-label{
    background-color: #03a9f4;
  }
}
