<div class="row">
	<div class="col-md-12">
		<div ba-panel ba-panel-title="管理员列表" ba-panel-class="with-scroll">
			<div class="horizontal-scroll">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="col-md-1">ID</th>
							<th class="col-md-2">标签</th>
							<th class="col-md-3">更新时间</th>
							<th class="col-md-3">创建时间</th>
							<th class="col-md-3 text-center">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in collections">
							<td>{{::item.id}}</td>
							<td>{{::item.label}}</td>
							<td>{{::item.utime*1000 | date:'y-MM-dd HH:mm:ss'}}</td>
							<td>{{::item.ctime*1000 | date:'y-MM-dd HH:mm:ss'}}</td>
							<td class="text-center">
								<button class="btn btn-info btn-xs" ng-click="show(item)">详细</button>
								<button class="btn btn-danger btn-xs" ng-click="remove(item)">删除</button>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td>
								<div>
									记录:
									<span ng-bind="count"></span>
									条
								</div>
								<div>
									页码:
									<span ng-bind="pages.select"></span>
									/
									<span ng-bind="pages.count"></span>
								</div>
							</td>
							<td colspan="3" class="text-center">
								<nav>
									<ul  class="pagination">
										<li>
											<a ng-click="select(1)">首页</a>
										</li>
										<li ng-repeat="v in pages.list" ng-class="{'active':v == pages.select}">
											<a ng-bind="v" ng-click="select(v)"></a>
										</li>
										<li>
											<a ng-click="select(pages.count)">末页</a>
										</li>
									</ul>
								</nav>
							</td>
							<td colspan="1" class="text-center">
								<button class="btn btn-warning" ng-click="create()">创建组</button>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>