<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"> <em class="fa fa-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel" >详细信息</h4>
  </div>
  <div class="modal-body detail-page" >
    <form class="container-fluid" class="edit">
      <div class="form-group input-group">
        <label class="input-group-addon input-group-addon-primary addon-left">UID</label>
        <input type="text" class="form-control" value="{{item.uid}}" disabled></div>
      <div class="form-group input-group">
        <label class="input-group-addon input-group-addon-primary addon-left">账号</label>
        <input type="text" class="form-control" value="{{item.username}}" disabled></div>
      <div class="form-group input-group">
        <label class="input-group-addon input-group-addon-primary addon-left">昵称</label>
        <input type="text" class="form-control" ng-model="item.name"></div>
      <div class="form-group input-group animate-show">
        <label class="input-group-addon input-group-addon-primary addon-left">密码</label>
        <input type="text" class="form-control" ng-model="item.password" ng-minlength="5" placeholder="---留空则维持原密码---"></div>
      <div class="form-group input-group">
        <label class="input-group-addon input-group-addon-primary addon-left">权限组</label>
        <select class="form-control"  ng-model="item.role"  ng-options="s.id as s.label for s in roles"></select>
      </div>
      <div class="form-group input-group">
        <label class="input-group-addon input-group-addon-primary addon-left">注册ip</label>
        <input type="text" class="form-control" value="{{item.ip}}" disabled></div>
      <div class="form-group input-group">
        <label class="input-group-addon input-group-addon-primary addon-left">注册时间</label>
        <input type="text" class="form-control" value="{{item.ctime*1000 | date:'y-MM-dd HH:mm:ss'}}" disabled></div>
      <div class="form-group input-group">
        <label class="input-group-addon input-group-addon-primary addon-left">更新时间</label>
        <input type="text" class="form-control" value="{{item.utime*1000 | date:'y-MM-dd HH:mm:ss'}}" disabled></div>
      <div class="text-right">
        <span >
          <button type="submit" class="btn btn-primary btn-with-icon" ng-click="$dismiss()"> <i class="fa fa-refresh"></i>
            取消
          </button>
          <button type="submit" class="btn btn-primary btn-with-icon" ng-click="update(form)"> <i class="fa fa-save"></i>
            保存
          </button>
        </span>

      </form>
    </div>
  </div>
</div>