<div class="row">
	<div class="col-md-12">
		<div ba-panel ba-panel-title="管理员列表" ba-panel-class="with-scroll">
			<div class="horizontal-scroll">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="col-md-1">UID</th>
							<th class="col-md-1" ng-if="::conf.$users.field.username">账号</th>
							<th class="col-md-1" ng-if="::conf.$users.field.name">昵称</th>
							<th class="col-md-1" ng-if="::conf.$users.field.role">权限组</th>
							<th class="col-md-2 text-center">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in collections">
							<td>{{::item.uid}}</td>
							<td ng-if="::conf.$users.field.username">{{::item.username}}</td>
							<td ng-if="::conf.$users.field.name">{{::item.name}}</td>
							<td ng-if="::conf.$users.field.role">{{::item.role | role:roles}}</td>
							<td class="text-center">
								<button class="btn btn-info btn-xs" ng-click="show(item)" ng-if="::conf.$users.method.get">详细</button>
								<button class="btn btn-danger btn-xs" ng-click="remove(item)" ng-if="::conf.$users.method.delete">删除</button>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td>
								<div>
									记录:
									<span ng-bind="count"></span>
									条
								</div>
								<div>
									页码:
									<span ng-bind="pages.select"></span>
									/
									<span ng-bind="pages.count"></span>
								</div>
							</td>
							<td colspan="3" class="text-center">
								<nav>
									<ul  class="pagination">
										<li>
											<a ng-click="select(1)">首页</a>
										</li>
										<li ng-repeat="v in pages.list" ng-class="{'active':v == pages.select}">
											<a ng-bind="v" ng-click="select(v)"></a>
										</li>
										<li>
											<a ng-click="select(pages.count)">末页</a>
										</li>
									</ul>
								</nav>
							</td>
							<td colspan="1" class="text-center">
								<button class="btn btn-warning" ng-click="create()" ng-if="::conf.$users.method.post">添加管理员</button>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>