<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"> <em class="fa fa-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel" >详细信息</h4>
  </div>
  <div class="modal-body detail-page" >
    <form class="container-fluid" class="edit">
      <div class="form-group input-group">
        <label class="input-group-addon input-group-addon-primary addon-left">ID</label>
        <input type="text" class="form-control" value="{{item.id}}" disabled></div>
      <div class="form-group input-group">
        <label class="input-group-addon input-group-addon-primary addon-left" ng-if="conf.field.label">标签</label>
        <input type="text" class="form-control" ng-model="item.label"></div>
      <div class="panel panel-danger contextual-example-panel bootstrap-panel" ng-if="conf.field.router">
        <div class="panel-heading">路由控制</div>
        <div class="panel-body" ng-if="routerOption.data">
          <button class="btn btn-info" ng-click="routerOption.str=true" ng-disabled="routerOption.str">查看</button>
          <button class="btn btn-info" ng-click="routerOption.str=false" ng-disabled="!routerOption.str">控制</button>
          <router-tree option="routerOption"></router-tree>
        </div>
      </div>
      <div class="panel panel-danger contextual-example-panel bootstrap-panel restCtrBox" ng-if="conf.field.resource">
        <div class="panel-heading">资源控制</div>
        <div class="panel-body" ng-if="resOption.data">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>控制器</th>
                <th>资源名</th>
                <th>允许的方法</th>
                <th>可访问的字段</th>
              </tr>
            </thead>
            <tbody ng-repeat="(ctr, ctrValue) in resOption.data" class="row" disabled>
              <tr>
                <td class="col-md-1"  rowspan="10">
                  <button class="btn" ng-class="{'btn-info': !ctrValue.$$disabled}" ng-click="ctrValue.$$disabled = !ctrValue.$$disabled" ng-bind="ctr"></button>
                </td>
              </tr>
              <tr ng-repeat="(rest, restValue) in ctrValue">
                <td class="col-md-1" >
                  <button class="btn" ng-class="{'btn-info': !restValue.$$disabled}" ng-click="restValue.$$disabled = !restValue.$$disabled" ng-bind="rest"></button>
                </td>
                <td class="col-md-4 row">
                  <switch class="col-md-6"  color="warning" ng-repeat="(method,methodValue) in restValue.method" ng-model="restValue.method[method]" ng-data="method"></switch>
                </td>
                <td class="col-md-6 row">
                  <switch class="col-md-4" color="primary" ng-repeat="(field,fieldValue) in restValue.fields" ng-model="restValue.fields[field]" ng-data="field"></switch>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
      <div class="form-group input-group" ng-if="conf.field.ctime">
        <label class="input-group-addon input-group-addon-primary addon-left">注册时间</label>
        <input type="text" class="form-control" value="{{item.ctime*1000 | date:'y-MM-dd HH:mm:ss'}}" disabled></div>
      <div class="form-group input-group" ng-if="conf.field.utime">
        <label class="input-group-addon input-group-addon-primary addon-left">更新时间</label>
        <input type="text" class="form-control" value="{{item.utime*1000 | date:'y-MM-dd HH:mm:ss'}}" disabled></div>
      <div class="text-right" ng-if="conf.method.put">
        <span >
          <button type="submit" class="btn btn-primary btn-with-icon" ng-click="update()"> <i class="fa fa-save"></i>
            保存
          </button>
        </span>

      </form>
    </div>
  </div>
</div>